/* ==========================================================================
   Status Dots
   ========================================================================== */

.deployed {
  color: rgb(0, 230, 0);
}

.complete {
  color: rgb(0, 230, 0);
}

.no-prototype {
  color: rgb(255, 153, 0);
}

.prototype {
  color: rgb(230, 230, 0);
}